*.pyc
baselines/optimal_pretained_policies/
baselines/suboptimal_pretained_policies/
pretrained_policies/
wandb/
__pycache__/
baselines/linear_dqn_policies/
baselines/optimal_pretrained_policies/
experiments/lazy_mdp_data/
experiments/lazy_mdp_original_data
*.zip